* {
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  color: whitesmoke;
}

.app {
  max-width: 300px;
  margin: 20px auto;
}

form {
  display: flex;
  gap: 10px;
  border: 1px solid #30313d;
  border-radius: 10px;
  padding: 5px 10px;
}

form input[type="text"] {
  border: none;
  background: none;
  width: 100%;
  color: whitesmoke;
  font-size: 18px;
}

form button {
  background-color: dodgerblue;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.task {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #30313d;
  border-radius: 10px;
  padding-inline: 10px;
  margin-top: 5px;
  transition: 0.5s;
}

.task svg {
  height: 20px;
  fill: dodgerblue;
}

.task p {
  position: relative;
  font-size: 20px;
}

.task p::before {
  display: block;
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  top: 10px;
  background-color: dodgerblue;
  transition: width 0.2s;
}

.task.done p::before {
  width: 100%;
}

.done {
  opacity: 0.7;
  /* text-decoration: line-through 2px dodgerblue; */
}
